/* General Styles */
@font-face {
    font-family: myfirst;
    src: url("WastedPersonalUseRegular-WyegG.ttf");
  }
  
  @font-face {
    font-family: mysecond;
    src: url(Bauhaus\ 93\ Regular.ttf);
  }

body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .bg-pink {
    background-color: #f06ba4;
  }
  
  .navbar .dot {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
  }

  .nav-item{
    font-family: mysecond;
    font-size: 30px;
    color: #070707;
  }

  .navbar .navbar-brand img {
    border-radius: 50%;
  }
  
  /* Hero Section */
  .hero-section h2 {
    font-size: 2rem;
    color: #333;
  }
  
  /* Project Section */
  .project-section {
    background-color: #f9f9f9;
  }
  
  .project-description {
    font-size: 1rem;
    color: #555;
  }
  
  /* Next Project Section */
  .next-project-section {
    color: #f9f9f9;
  }
  
  .next-project-title {
    font-size: 50px;
    font-family: myfirst;
  }
  
  /* Contact Section */
  .contact-section {
    background-color: #f9f9f9;
    color: #f06ba4;
    padding: 30px 0;
  }
  
  .contact-info {
    list-style-type: none;
  }
  
  .contact-info li {
    font-size: 24px;
    margin: 5px 0;
  }
  